#VSCode
.vscode/

#TO DO
Etapes.txt

#My YT cookies
cookies.txt

#Test on my side
temp_audio/

#Pycache
__pycache__/

#Virtual Env
.venv

# requirements file for dev (with pip-tools)
requirements-dev.txt